.flamechart {
  align-items: flex-start;
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;

  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;

  .stack-node-list {
    align-items: flex-start;
    
    .stack-node {
      overflow: hidden;

      &.-ongoing {
        background-color: hsla(0, 100%, 50%, 0.1);
      }

      & > .stack-node-label {
        padding: 2px;

        background: hsl(0, 0%, 80%);
        border: 1px solid hsl(0, 0%, 60%);
        font-size: 0.5em;
        text-overflow: ellipsis;
      }

      &.-start-obscured > .stack-node-label {
        border-left: none;
      }

      &.-ongoing > .stack-node-label,
      &.-end-obscured > .stack-node-label {
        border-right: none;
      }
    }
  }
}